APP_ENV=
LOG_LEVEL=

BOT_TOKEN=
ADMIN_IDS=

DATABASE_URL=

ORDER_TTL_MINUTES=
PAYMENT_POLL_INTERVAL_SECONDS=

VOLET_API_URL=
VOLET_API_KEY=

XRAY_PANEL_URL=
XRAY_PANEL_USERNAME=
XRAY_PANEL_PASSWORD=

VPN_DEFAULT_SERVER_NAME=
VPN_DEFAULT_INBOUND_ID=

SUPPORT_USERNAME=